*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

#main_section {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
.card {
  border: 2px solid black;
  padding: 2rem;
}

@media (min-width: 720px) and (max-width: 1099px) {
  #main_section {
    grid-template-columns: repeat(12, 1fr);
  }
  .one,
  .four,
  .five {
    grid-column: 1/-1;
  }

  .two {
    grid-column: 1/7;
  }
  .three {
    grid-column: 7/-1;
  }
}

@media (min-width: 1100px) {
  #main_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "o o o o o o t t t f f f"
      "h h h i i i i i i f f f";
  }

  .one {
    grid-area: o;
  }
  .two {
    grid-area: t;
  }
  .three {
    grid-area: h;
  }
  .four {
    grid-area: f;
  }
  .five {
    grid-area: i;
  }
}
