body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.profile {
  padding: 5px;
  width: 200px;
  height: 50px;
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
  align-items: center;
}
.profile_text {
  /* margin-left: 10px; */
  height: 45px;
  width: 120px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  color: white;
  line-height: 0.5%;
  font-weight: 500;
  text-align: center;
}

.img_div {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid #a775f1;
}

#main_section {
  background-color: #f5f5f5;
  max-width: 1114px;
  /* height: 1657px; */
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
div {
  border-radius: 10px;
}

#one {
  grid-column: 1/3;
  background-color: #7c3aed;
  color: white;
}

#two {
  grid-column: 3/4;
  background-color: #48556a;
  color: white;
}
#three {
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: #ffffff;
  color: #48556a;
}
#four {
  grid-column: 1/2;
  background-color: #ffffff;
  color: #48556a;
}
#five {
  grid-column: 2/4;
  background-color: #19202d;
  color: white;
}

.review_text {
  padding: 0 20px;
}

.review_text,
p {
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
  font-style: normal;
}

strong {
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
}

.profile_text p {
  font-size: 12px;
  font-weight: 400;
  line-height: 40%;
  margin-top: 0%;
}

@media (max-width: 647px) {
  #main_section {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 800px;
    margin: 0 auto;
  }
  #one {
    grid-column: 1/3;
  }

  #two {
    grid-column: 1/2;
    display: inline;
  }
  #three {
    grid-column: 1/3;
  }
  #four {
    grid-column: 2/3;
    display: inline;
  }
  #five {
    grid-column: 1/3;
  }
}

@media (max-width: 400px) {
  #main_section {
    /* grid-template-columns: 1fr;
    gap: 24px;
    margin: 0 auto; */
    display: block;
  }
  .card {
    /* grid-column: 1; */
    display: block;
  }
}
